<%= javascript_include_tag "timelineJS/timelineJS-rails", "timelineJS/locale/#{@options[:language]}" %>
<%= stylesheet_link_tag "timelineJS/timelineJS-rails" %>
<div id="timeline-embed" style="width: 100%; height: 600px;"></div>
<script type="text/javascript">
	$(function() {    
	  createStoryJS({
	    type: "<%= @options[:type]%>",
	    width: "<%= @options[:width]%>",
	    height: "<%= @options[:height]%>",
	    source: "<%= @options[:source]%>",
	    embed_id: 'timeline-embed'
	  });
	});
</script>